password-strength-bar {
    ul#strengthBar {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        vertical-align: 2px;
        position: absolute;
        transform: rotate(180deg);
        top: 17px;
        right: -25px;
    }
    .point:last {
        margin: 0 !important;
    }
    .point {
        background: #DDD;
        border-radius: 5px;
        height: 4px;
        margin: 2px;
        margin-right: 1px;
        width: 18px;
    }
}