    /*
    Flaticon icon font: Flaticon
    Creation date: 05/10/2017 03:07
    */
    
    @font-face {
        font-family: "uta";
        src: url("../assets/fonts/font.eot");
        src: url("../assets/fonts/font.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/font.woff") format("woff"), url("../assets/fonts/font.ttf") format("truetype"), url("../assets/fonts/font.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
            font-family: "uta";
            src: url("./fonts/font.svg#Flaticon") format("svg");
        }
    }
    
    .uta:before {
        display: inline-block;
        font-family: "uta";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
    
    .uta-unlocked:before {
        content: "\f100";
    }
    
    .uta-avatar:before {
        content: "\f101";
    }
    
    $font-uta-unlocked: "\f100";
    $font-uta-avatar: "\f101";